* {
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: $font-family;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

a {
  color: $link-color;
  &:hover, &:focus {
    color: darken($link-color, 10%);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.3em;
}

h2 {
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0 1em;
}

ul {
  list-style: none;
  margin: 1em 0;
  padding: 0;
  li {
    font-size: 0.9rem;
    a {
      display: block;
      padding: 1em;
      color: $grey-light-2;
      text-decoration: none;
      background: transparent;
      &:hover, &:focus {
        color: $white;
        background: darken($navy, 10%);
      }
      &.active {
        color: $black;
        background: $grey-light-2;
      }
    }
  }
}