// Typography
$font-family: 'Noto Sans', sans-serif;

// Color
$white: rgb(255, 255, 255);
$black: rgba(0,0,0, 90%);
$grey: rgba(0,0,0, 50%);
$grey-light-1: #cdcdcd;
$grey-light-2: #e5e5e5;

$blue: #12A0D9;
$navy: #3b5d7a;

$link-color: $blue;

// header
$header-height: 44px;